.howto-container{
    padding: 0 1% 2% 1%;
    margin: 0 5%;
    background: #FCFCFC;
    box-shadow: 0px 36px 28px -12px rgba(73, 80, 87, 0.18);
    border-radius: 2px;
    margin-bottom: 5%;
    box-sizing: border-box;
}
.howto-container>div{
    padding: 0 5%;
}
.howto-container>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 16px;
    color: #212429;
}

.howto-container>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}

.howto-container>div>h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #495057;
    margin-bottom: 0;
}

.howto-container > div:nth-child(1) > h4:nth-child(2){
    margin-left: 1%;
    color: #C05111;
}

.howto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.how{
    width: 35%;
    box-sizing: border-box;
}

.how>h5{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.125rem;
    color: #495057;
    margin: 15% auto 5% auto;
}

.how>h5>svg{
    margin-right: 1%;
    color: #C05111;
}

.how>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;
    color: #212429;
    padding-left: 5%;
}
