.way{
    padding: 2% 5%;
    width:100%;
    background-color: lightgray;
    box-sizing: border-box;
}

.ways-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ways{
    padding: 2%;
    width: 20%;
    height: auto;
    text-align: center;
    text-align: center;
    border: solid 1px gray;
    border-radius: 5%;
}

.ways>img{
    width:100%;
}

.sub-title{
    font-family: 'Montserrat', sans-serif;
}