.waysContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10% 2% 5% 2%;
  width: 95%;
  align-items: center;
}

#root>div.waysContainer>div:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: center;
}

.waysContainer>div>h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  color: #495057;
  margin: 0;
}

.lunch-container>div>div>h3>svg,
.resources-container>div>div>h3>svg {
  margin-right: 5%;
  color: #c05111;
  font-size: 1.5rem;
}

.lunch-container>div>div>p,
.resources-container>div>div>p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.313rem;
  color: #212429;
  padding-left: 15%;
}

#root>div.waysContainer>div:nth-child(1)>h4:nth-child(2) {
  color: #c05111;
  margin-top: 0;
  margin-left: 1%;
}

.resources-container>div:nth-child(1)>div {
  width: fit-content;
  padding: 0 1%;
}

.lunch-container>div>div>h3,
.resources-container>div>div>h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  color: #495057;
}

.waysItemContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.waysItemContainer hr {
  height: 19rem;
  margin: 2.7rem 1rem 0 0;
  border-style: solid;
  background-color: #e1e4e680;
  border-color: #e1e4e680;
}

.resources-container,
.lunch-container {
  display: flex;
  flex-direction: column;
}

.lunch-container {
  margin-right: 1rem;
}

.resources-container>div:nth-child(1),
.lunch-container>div:nth-child(1) {
  display: flex;
  height: 80%;
  margin-bottom: 4%;
}

.btn-container {
  display: flex;
    width: 100%;
    flex-direction: column;
}

.waysto-donate-btn {
  margin-top: 4%;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
  height: 48px;
  background-color: #c05111;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  align-self: center;
}

.contact-btn {
  margin-top: 4%;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  width: 17%;
  height: 48px;
  border: 1px solid #c05111;
  color: #c05111;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  align-self: center;
}

.contact-btn:hover {
  border: 1px solid #795F43;
  color: #795F43;
  font-weight: bold;
}

.waysto-donate-btn>svg {
  margin-right: 5%;
}

.waysto-donate-btn:hover {
  background: #9D6232;
}
<<<<<<< HEAD
span{
 visibility: hidden;
}

span>img{
  width: auto;
}

.btn-container>div{
  width: 50%;
  align-self: center;
  text-align: center;
}

.btn-container>div:hover span{
 visibility: visible;
    text-align: end;
    margin-right:14%;
=======

span{
  display:none;
}
span>svg{
  float: left;
}

.btn-container:hover span {
  display:block;
  position:absolute;
  overflow:hidden;
>>>>>>> d6a186f805c0ffeca21bdad4c9333237804a90e1
}