.container-info{
    width:100%;
}

.us-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container-info>img{
    width:100%;
}

.container-info>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-info>div>h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    color:#495057;
}

.container-info > div > h1:nth-child(2){
    color:#C05111;
    margin-left:1%;
}
.container-info>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #212429;
    padding: 0 15%;
}

