.team-container{
    width:90%;
    padding:0 5%;
}

.team-member{
    width:25%;
}

.team-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.team{
    display:flex;
    width:100%;
    padding: 1%;
    justify-content: space-around;
}
.member-name{
    margin: auto 0 0 0;
}

.member-position{
    margin: 0 0 0 auto;
}