/* .donation-type {
    height: 7rem !important;
} */

#root > div.waysContainer > div.modal-container > div > div.modal-items > form > input.donation-type{
    height: 7rem;
}

.send-btn {
    text-align: center;
    width: 100%;
    margin: 5%;
}


.send-btn>button {
    background: #C05111;
    border-radius: 8px;
    cursor: pointer;
    width: 182px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #FCFCFC;
    font-family: 'Montserrat', sans-serif;
}

.send-btn>button[disabled] {
    background: #C05111;
    border-radius: 8px;
    cursor: pointer;
    width: 182px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FCFCFC;
    opacity: 0.5;
}

.modal-items {
    align-items: flex-start;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.modal-items>h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.275rem;
    line-height: 2.875rem;
    color: #C05111;
    margin: 1% 0;
}

.modal-items>h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #495057;
    text-align: left;
    margin: 3% 0;
}

.modal-items>form>p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #212429;
    margin: 2% 0;
    text-align: initial;
}

form {
    width: 100%;
}

.modal-items>form>input {
    background: #FCFCFC;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.313rem;
    color: #495057;
}

@media (max-width:376px){
    #root > div.waysContainer > div.modal-container > div > div.modal-items{
        padding: 0;
    }

    #root > div.waysContainer > div.modal-container > div > div.modal-items > div{
        margin: 5% 0 0;
    }
}

@media (max-height:668px){
    .modal-items>h2{
        font-size: 2rem;
    }

    .modal-items>h4{
        font-size: .8rem;
    }
    
    #root > div.waysContainer > div.modal-container > div > div.modal-items > form > input.donation-type{
        height: 5rem;
    }    
}